
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
    font-size: 16px;

}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:2px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px black ;
}
.container-img img{
    border-radius: 12px;
}
.content{
   display: flex;
   justify-content: flex-start;
   
   gap: 0;
}

.content .paragraphe{
    color: hsl(0, 0%, 42%);
    font-size: 16px;
}

.content .tag{
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    width: 50px;
    padding: 7px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 900;
}


a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 23px;
}
a:hover{
    color: hsl(47, 88%, 63%);
}

.pied{
    display: flex;
    gap: 10px;
    align-items: center;
}

.pied img{
    height: 32px;
}


.pied p{
    font-weight: 800;
    font-size: 14px;
}